@media screen and (max-width: 680px) {

    .wholepage {
        width: 100%;
        height: 100%;
        display:none;
    }

    #root::before {
        content: "This app is not optimized for mobile devices. Please use a";
        color: rgb(246, 255, 0);
        font-weight:900;
        font-size: 20px;
    }
    #root::after {
        content: " desktop or laptop.";
        color: rgb(246, 255, 0);
        font-weight:900;
        font-size: 20px;
        animation: glow 1s ease-in-out infinite alternate;
    }
    #root{
        background-color: #1a6d4c;
        background: linear-gradient(to right, #1e1a6d, #934545);
        width:100vw;
        height: 100vh;
        padding: 70px;
    }
    @keyframes glow {
        from {
            font-size: 30px;
            color: rgb(0, 255, 4);
        }
        to {
            font-size: 25px;
        }
    }
    
    
}